<style>
	.about_fec {
		color: #000;
	}

	/*CSS styling for about.html*/
	#about_wrapper{ 
        background-color: #ddd;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
      }

      h1{
        font-size: 36px;
      }

	/*Styling for list of FEC officers*/
	div#about_ministers{
		float: left;
		box-shadow: 6px 6px 4px rgba(150, 150, 150,.2);
		max-width: 960px;
		background: #ddd;


	}

	#clinton{
		padding: 5px;
		box-shadow: 6px 6px 4px rgba(150, 150, 150,.2);
		max-width: 200px;
		max-height: 150px;
		margin: 0 auto;
		float: left;
	}

	#roslyn{
		padding: 5px;
		box-shadow: 6px 6px 4px rgba(150, 150, 150,.2);
		max-width: 200px;
		max-height: 150px;
		float: right;

	}


	table{
		border: 2px solid #666;
		padding: 10px;
		border-spacing: 0;
		border-collapse: collapse;
		width: 960px;
		margin-bottom: 10%;
	}
	/*This styling is for the table's caption*/
	caption{
		background-color: #999;
		color: #000;
		border-bottom: 20px;
	}

	/*This styling is for the table header row 2 and table data*/
	th,td{
		border: 2px solid #999;
		padding: 10px;

	}
	/*This styling is for table header column 1*/
	th{
		background-color: #000;
		color: #eee;
		font-weight: 700;
	}

	h1{
		font-size: 36px;
	}

	div.header-login{
        position: absolute;
        display: inline-block;
        right: 6%;
        top: 5%;
    }

    .email_login, .password_login{
      border-radius: 5px; 
      height: 20px; 
      padding: 3px; 
      margin: 5px 0;

  }

  .button_login{
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
    margin: 5px 0;

  }
</style>