<style>
    body{
        font-family: Cabin, Tahoma, sans-serif;
        font-size: 16px;
        background-color:  #ddd;
        margin: 0;
        padding: 0;
      }

      footer{
        clear: both;
        line-height: 50px;
        background-color: #6d7e8e;
        text-align: center;
      }

      #clear_box{/*clearing floats*/
        clear: both;
      }
</style>
