<style>
	#wrapper{ 
		box-sizing: border-box;
		background-color: #ddd;
	}

	#box1{
		width:100%;
		height: auto;
	}

	#box1 img{
		max-width: 100%;
		height: auto;
	}

	#main_box2{
		width: 100%;
		float: left;
	}

	#box2_a,
	#box2_b,
	#box2_c{
		box-sizing: border-box; 
		padding: 10px;
		padding-top: 0;
		box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
		width: 30%;
		height: auto;
		min-height: 350px;
		float: left;
		margin: 20px 1%;
		
	}

	#box2_a{
        margin-left: 3%;
    }

    #box2_b{

    }

    #box2_c{
        margin-right: 3%;
    }

    #indexmain_box3{
        width: 100%;
        float: left;
	}

	#row_2main_box3{
        width: 100%;
        float: left;
	}

	#row_3main_box3{
        width: 100%;
        float: left;
	}

	#indexbox3_a,
	#indexbox3_b,
	#indexbox3_c{
		box-sizing: border-box; 
		width: 30%;
		height: auto;
		float: left;
		margin: 20px 1%;
	}

	#row_2box3_a,
	#row_2box3_b,
	#row_2box3_c{
		box-sizing: border-box; 
		width: 30%;
		height: auto;
		float: left;
		margin: 20px 1%;
	}

	#row_3box3_a,
	#row_3box3_b,
	#row_3box3_c{
		box-sizing: border-box; 
		width: 30%;
		height: auto;
		float: left;
		margin: 20px 1%;
	}

	#indexbox3_a{
		margin-left: 3%;
	}


	#indexbox3_b{

	}

	#indexbox3_c{
		margin-right: 3%;
	}

	#row_2box3_a{
		margin-left: 3%;
	}


	#row_2box3_b{

	}

	#row_2box3_c{
		margin-right: 3%;
	}

	#row_3box3_a{
		margin-left: 3%;
	}


	#row_3box3_b{

	}

	#row_3box3_c{
		margin-right: 3%;
	}

	#indexbox3_a img,
  	#indexbox3_b img,
  	#indexbox3_c img{
        width: 100%;
        height: auto;
        box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
    }

    #row_2box3_a img,
  	#row_2box3_b img,
  	#row_2box3_c img{
        width: 100%;
        height: auto;
        box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
    }

    #row_3box3_a img,
  	#row_3box3_b img,
  	#row_3box3_c img{
        width: 100%;
        height: auto;
        box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
    }

    #main_box4{
        width: 100%;
        float: left;
        position: relative;
    }

    #main_box4 img{
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    #main_box4 #box4a{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: rgba(0,0,0,.75);
        padding-top: 7%;
	}

	#main_box4 #box4a h1{
	    color: #fff;
	}

	#main_box4 #box4a h2{
	    color: #eee;
	}

    #main_box4 #box4a a{
        display: inline-block;
        text-decoration: none;
        padding: 20px;
        margin: 10px;
        background-color: #862d00;
        color: #ddd;
        box-shadow: 6px 6px 4px rgba(150, 150, 150,.2);
        font-size: 20px;
    }

    #main_box4 #box4a a:hover{
        background-color: #ccc;
        color: #000;
    } 
</style>    

