<style>
    body{
      font-family: Cabin, Tahoma, sans-serif;
      font-size: 16px;
      background-color:  #ddd;
      margin: 0;
      padding: 0;
    }

    footer{
      clear: both;
      line-height: 50px;
      background-color: #6d7e8e;
      text-align: center;
    }

    #clear_box{/*clearing floats*/
      clear: both;
    }

    /*++++++++++++These are all styles for header+++++++++++*/
    header{
      width: 100%;
      margin: 0 auto;
      height: 160px;
      background-color: #0375b4;
      position: relative;
      max-width: 100%;
      height: 140px;
    }

    nav{
      position: absolute;
      left: 2%;
      bottom: 5px;

    }

    a#menu-toggle {
       display: none;
    }
    /*++++++++++logo styles++++++++*/

    #logo_150{
        width: 75px;
        height: 75px;
        margin-left: 10px;
        padding: 10px;
    }

    /*logo for mobile menu*/
    #logo_100{
        display:none;
    }

    ul{
        list-style-type: none;
        margin: 0;
        bottom: 5%;
        /*position: relative;*/
    }

    li {
        display: inline-block;
        margin-left: 10px;
        position: relative;
    }

    li a{
        color: #ddd;
        text-decoration: none;
        text-transform: uppercase;
        box-sizing: border-box;
        /*line-height: 40px;*/
        display: inline;
        /*padding: 0 10px;*/
        /*background-color: #000;*/
        font-weight: 700;
        font-size: 20px;
    }

    nav ul li a:link,
    nav ul li a:visited{

    }

    nav ul#navlist li a:hover,
    nav ul#navlist li a:active {
        color: #000;
    }
    /*+++++++++overline transition++++++++++*/
    nav a::after{
        content: '';
        display: block;
        height: 2px;
        background-color: #862d00;
        position: absolute;
        top: 0;
        width: 0%;
        bottom:0;
        transition: all ease-in-out 250ms;
    }

    nav a:hover::after{
        width: 100%;
    }

    div.header-login{
        position: absolute;
        display: inline-block;
        right: 6%;
        top: 5%;
    }

    div.header-login form{
        margin-bottom: 0;
    }

    div#location{
        position: absolute;
        top: 0px;
        right: 20px;
        line-height: 30px;
    }



    div.address a{
        text-decoration: none;
        color: #eee;
        text-shadow: 2px 2px 2px #444;
    }

    div#location p.services{
        color: #eee;
        text-shadow: 2px 2px 2px #444;
    }
    div.tel a{
        text-decoration: none;
        background-color: #862d00;
        color: #ddd;
        padding: 10px;
        box-shadow: 6px 6px 4px
        rgba(150, 150, 150,.5);
    }

    div.tel a:hover{
        color: #000;
        background-color: #ccc;
    }

    #social_media{
        display: inline-block;
        text-decoration: none;
        margin-top: 10px;
    }

    .flash{
        background: #efefef;
        color: #666;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        top: 50%;
        z-index: 500;
        width: 100%;
        margin-top: 45px;
    }

    div#cart {
      width: 180px;
      background: #444;
      color: #FFF;
      text-align: center;
      padding: 5px 0;
      margin-top: 5px;
      margin-bottom: 10px;
      float: right;
      font-size: .8rem;
      border-radius: 20px;
      position: absolute;
      right: 25%;
      top: 0%;
  }

  div#cart a.checkout {
      color: #990000;
  }

  .itemsincart{
      border: 1px solid #228B22;
      background-color: #f0f0d0;
      color:  #228B22;
      font-size: 14px;
      border-radius: 5px;
      padding-bottom:  2px;
      margin-bottom: 2px;
  }

  .email_login, .password_login{
      border-radius: 5px; 
      height: 20px; 
      padding: 3px; 
      margin: 5px 0;
      border:none;
      background-color: #dee;


  }

  .button_login{
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border:none;
    background-color: #dee;

  }
  .logout{
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 70px;
    right: 5%;
    background-color: #dee;
  }
  


  /*+++++++++++++++++++++++++MEDIA QUERIES++++++++++++++++++++++++++++++*/
@media all and (max-width: 768px){

    div {
      width: 100% !important;
      max-width: 100% !important;
    }

     div#cart {
      /*width: 180px;
      background: #444;
      color: #FFF;
      text-align: center;
      padding: 5px 0;
      margin-top: 5px;
      margin-bottom: 10px;
      float: right;
      font-size: .8rem;
      border-radius: 20px;
      position: absolute;
      right: 25%;
      top: 0%;*/
      display: none;
  }

  div#cart a.checkout {
     /* color: #990000;*/
  }

  .itemsincart{
     /* border: 1px solid #228B22;
      background-color: #f0f0d0;
      color:  #228B22;
      font-size: 14px;
      border-radius: 5px;
      padding-bottom:  2px;
      margin-bottom: 2px;*/
      display: none;
  }

  .email_login, .password_login{
     /* border-radius: 5px; 
      height: 20px; 
      padding: 3px; 
      margin: 5px 0;
      border:none;
      background-color: #dee;*/
      display: none;


  }

  .button_login{
    /*border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border:none;
    background-color: #dee;*/
    display: none;

  }
    
     nav{
    position: absolute;
    left: 10%;

    bottom: 5px;
    margin: 0 auto;
  }
  
   #logo_150{
        width: 75px;
        height: 75px;
        margin-left: 10px;
        padding: 10px;
    }


  ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;

  }

  li {
    display: inline-block;
    position: relative;
    margin:0px;
  }

  li a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    /*line-height: 40px;*/
    display: inline;
    /*padding: 0 10px;*/
    /*background-color: #000;*/
    font-size: 20px; 


  }

  nav ul li a:link,
  nav ul li a:visited{
  }

  nav ul#navlist li a:hover,
  nav ul#navlist li a:active {
    color: #000; 
  }

  nav a::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #862d00;
    position: absolute;  
    top: 0;
    width: 0%;
    bottom:0;
    transition: all ease-in-out 250ms;
  }


   nav a:hover::after{
    width: 100%;
  }

  div#location{
    position: absolute;
    top: 0px;
    right: 40px;
    line-height: 30px;
    display: none;
  }

  div.address a{
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 2px #444; 
  }

  div.tel a{
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #444;
    color: #fff;
    padding: 10px;
    box-shadow: 6px 6px 4px 
                rgba(150, 150, 150,.5);

  }

  div.tel a:hover{
    color: #ff0;
  }
  #wrapper{

    box-sizing: border-box;


  }

  #wrapper {
    width: 100%;
    background: #cfc;
  }

  nav > ul {
    display: none;
    top: -39px;
    position: absolute;
    left: 302px;
    width: 107px;
    padding: 3px;
    background-color: #ccc;
  }

  nav ul li {
    display: block;
    border-bottom: 1px solid #999;
    position: relative;
  }

  nav > ul > li:first-child {
    border-top: 1px solid #999;
  }

  nav ul li a {
    display: block;
  }

  nav li a:hover,
  nav li a:active,
  nav li.current a{
    color: #c32121;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.7);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    font-weight: bold;
  }

  a#menu-toggle:hover + ul{
    display: block;
  }

  a#menu-toggle {
    display: inline-block;
    /* width: 50px; */
    /* height: 36px; */
    position: absolute;
    left: 359px;
    bottom: 42px;
  }


  #box1{
    margin-top: 4px; 
    box-shadow: 6px 6px 4px 
                rgba(150, 150, 150,.5);/*box shadow*/
    /*width:100%;*/
    width: 100%;
    box-sizing: border-box;
    background: url('../images/holyspirit_1509.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  #box2_a,
  #box2_b{
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
    padding-top: 0;
    box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
    width: 100%;
    height: auto;
    min-height: 350px;
    margin: 20px 1%;
    border: 1px solid #666;
  }

  #box2_c{
     box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
    padding-top: 0;
    box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
    width: 100%;
    height: auto;
    min-height: 350px;
    margin: 20px 1%;
    border: 1px solid #666;
  }
/*
@keyframes slide{
  25%{
    background: url('../images/pray1509.jpg');
  }
  50%{
    background: url('../images/sunday1509.jpg');
  }
  75%{
    background: url('../images/img1509.jpg');
  }
  100%{
    background: url('../images/sky1509.jpg');
  }
}
*/

    #box2a_1{
      box-sizing: border-box;
     
      font-size: 20px;
      padding-left: 5px;
      box-shadow: 6px 6px 4px 
                  rgba(150, 150, 150,.5);
      width: 50%;
    }
    #box2a_2{
      
      width: 50%;
      font-size: 20px;
      padding-left: 5px;
      box-shadow: 6px 6px 4px 
                  rgba(150, 150, 150,.5);
    }


    #box2b_1{
      /*text-align: center;*/
    }
    #box2b_2{
      
      width: 50%;
      box-shadow: 6px 6px 4px rgba(150, 150, 150, .5);
      border-radius: 10px 10px 10px 10px;
      box-sizing: border-box;
     } 
     /* background-color: linear-gradient
                  (325deg, #8c9a9b 25%, #798794 75%);
    }*/

    #box_right{
      float: right;
    }

    #box3{
      width: 373px;
      height: 400px;
      
      
      background: url('../images/praise373.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      /*background-attachment: scroll;*/
      background-size: cover;
      /*border-radius: 50%;*/
      box-shadow: 6px 6px 4px 
                  rgba(150, 150, 150,.5);/*box shadow*/
    }
    #box4{
      width: 373px;
      height: 400px; 
      background: url('../images/churchleftanggray370.jpg');
      
      background-position: center center;
      background-size: cover;
      
      box-shadow: 6px 6px 4px 
                  rgba(150, 150, 150,.5);/*box shadow*/
    }

    #box5{
      width: 373px;
      height: 400px;
      
     
      background-position: center center;
      background: url('../images/sunschgray370.jpg');
      background-repeat: no-repeat;
      /*background-attachment: scroll;*/
      background-size: cover;
      
      
      /*border-radius: 50%;*/
      box-shadow: 6px 6px 4px 
                  rgba(150, 150, 150,.5);/*box shadow*/
    }

    #box7{
     
     
      max-width: 100%;
      height: 400px;
      text-align: center;
      
    }

    #box7b{
      background: url('../images/praygray905.jpg');
      background-color: rgba(150, 150, 150,0.1);
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;
      line-height: 80px;
       height: 400px;
      /*line-height: 50px;*/
      

      
      /*box-shadow: 6px 6px 4px 
                  rgba(150, 150, 150,.5);box shadow*/

    }

    h2#nomatter{
      color: #eee;
    }

    #prayer a{
      text-decoration: none;
      border: 2px solid #fff;
      padding: 20px;
      margin: 10px;
      background-color: #e00;
      /*border-radius: 5px;*/
      color: #fff;
      box-shadow: 6px 6px 4px 
                  rgba(150, 150, 150,.5);
    }

    #prayer a:hover{
     
      background-color: #999;
      color: #ff0;
    }   
    
}





</style>