<style>
.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;

}

.table-striped {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 16px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

.right{
	text-align: right;
	margin: 200px;
}

.green_button{
  border: transparent;
  border-radius: 5px;
  padding: 10px;
  background-color: green;
  box-shadow: 5px 5px 5px grey;
  min-width: 100px;
  color: white;
  text-decoration: none;
}
.red_button{
  border: transparent;
  border-radius: 5px;
  padding: 10px;
  background-color: red;
  box-shadow: 5px 5px 5px grey;
  min-width: 100px;
  color: white;
  text-decoration: none;
}

.remove{
	font-weight: 700;
	color: #400;
}

</style>