<style>

#box2_a,
#box2_b,
#box2_c{
  font-size: 18px;
  text-transform: capitalize;
  overflow: hidden;
}

#add {
  color: #444;
}

.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

}

div#image{
  text-align: center;
  margin: 0 auto;
  width: 500px;
 

}
div#image a{
  text-decoration: none;
}

div#info{
  width: 500px;
  margin: 0 auto;
  text-align: center;
 
}

div#description{
  text-align: center;
  margin: 0 auto;
  width: 500px;
  
}

/*button{
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #fcd116;
  box-shadow: 5px 5px 5px grey;
  min-width: 200px;
}*/
.yellowbox_with_shadow{
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #fcd116;
  box-shadow: 5px 5px 5px grey;
  min-width: 100px;
}
a.checkout{
  text-decoration: none;
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #fcd116;
  box-shadow: 5px 5px 5px grey;
  min-width: 100px;
}

.classqty{
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #fcd116;
  box-shadow: 5px 5px 5px grey;
  min-width: 100px;
}

p.back{
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #fcd116;
  box-shadow: 5px 5px 5px grey;
  min-width: 100px;
  width: 200px;
  margin: 0 auto;
  color: #000;
}
</style>