<style>
  header{
    /*position: fixed;*/
    /*top:0;*/
  }
	section{
		box-sizing: border-box;
	}
	#wrapper{
		width: 100%;
	    max-width: 960px;
	    margin: 0 auto;
	}

  p.images a{
    padding-bottom: 0px;
  }

  p.variety, p.price{
    padding: 0;
    margin: 0;
  }

  p.variety a{
    color: #ce1126;
    text-decoration: none;
  }

  /*css for yellow button with shadow*/
  p.buy_now{
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    background-color: #fcd116;
    box-shadow: 5px 5px 5px grey;
  }

  p.buy_now a{
    text-decoration: none;
    color: #0038a8;
    width: 100%;
    display: inline-block;
  }
  

  
/* styling for the positioning of products in the div*/
  .apparel_images{
  	float: left;
  	margin: 2% 1.5%;
  	width: 30%;
  }

  .buy_now{
  	text-align: center;
  }

/* styling for the positioning of search box*/
  .top_div{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    max-width: 960px;
    float: left;
    padding: 2% 0;
  }
 
  .searchbox{
   float: right;
    margin: 0 1.5%; 
  }

  .topnav{
     overflow: hidden;
    background-color: #dee;
    margin: 0 auto;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    background-color: #dee;
    box-shadow: 5px 5px 5px grey;
  }

  
  .topnav ul{
     margin: 0 auto;
  }

  .topnav ul li{
    margin: 0 auto;
    text-align: center;
    padding: 0px 24px;
   
   

  }

  .topnav a {
  float: left;
  display: block;
  color: green;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  font-size: 14px;
}
 
 /*.topnav a:hover {
  background-color: #ddd;
  color: black;
}*/

.searchbox input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
} 

.top_div .searchbox button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 0px;
  background: #dee;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .top_div .searchbox {
    float: none;
  }
  .topnav a, .searchbox input[type=text], .topnav  .searchbox button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .searchbox input[type=text] {
    border: 1px solid #ccc;  
  }
}
  
</style>


