<style>
  section{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  /* Full-width input fields */
.registry{
  width: 100%;
  max-width: 925px;
  padding: 15px;
  margin: 5px 0 22px 0px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
   max-width: 925px;
}

/* Set a style for all buttons */
.continueshopping, .paynowbutton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
}

.continueshopping, .paynowbutton:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.continueshopping {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.continueshopping, .paynowbutton {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 5px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .continueshopping, .paynowbutton {
     width: 100%;
  }
}
</style>