<style>
		.ministry_fec {
			color: #000;
		}

		#wrapper{ 
        background-color: #ddd;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
      }

      h1{
        font-size: 36px;
      }

      div.header-login{
        position: absolute;
        display: inline-block;
        right: 6%;
        top: 5%;
    }

  .email_login, .password_login{
      border-radius: 5px; 
      height: 20px; 
      padding: 3px; 
      margin: 5px 0;

  }

  .button_login{
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
    margin: 5px 0;

  }
</style>