<style > .prayer_fec {
    color: #000;
}

#prayer_main_box4 {
    width: 100%;
    position: relative;
}

#prayer_main_box4 img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

#prayer_main_box4 #box4a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .50);
    padding-top: 1%;
}

/*need help text styling*/
#prayer_main_box4 #box4a h1 {
    color: #fff;
    font-size: 30px;
    margin-top: 2px;
}

#prayer_main_box4 #box4a h2 {
    color: #eee;
}

/*the magic button-- ask prayer button*/
#prayer_main_box4 #box4a a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    background-color: #862d00;
    color: #ddd;
    box-shadow: 6px 6px 4px rgba(150, 150, 150, .2);
    font-size: 20px;
}

/*hover-- the ask prayer button*/
#prayer_main_box4 #box4a a:hover {
    background-color: #ccc;
    color: #000;
}

/*styling for the situations that people ask help*/
div#prayer_box4a {
    text-align: inherit;
    padding-top: 2%;
    font-size: 30px;
    color: #444;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: auto;
}

/*styling for the div who is the parent of the form*/
div#prayer_pageform {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: auto;
}

#prayer_form {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    height: auto;
}




/***********form styling starts here************/
label.labelwidth {
    /*label styling*/
    display: inline-block;
    width: 120px;
}

#fieldset1 {
    /*first fieldset*/
    border-radius: 25px;
    padding-left: 20px;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 200%;
    height: auto;

}


fieldset input.textfield {
    /*text field in fielset one*/
    border-radius: 5px;
    line-height: 26px;
    /* background-color: #fcc; */
    color: #000;
    width: 220px;
    font-size: 1em;
    display: block;
}


.label_info {
    display: block;
    width: 196px;
    color: #444;
    font-size: 1em;
}

/*styling for text area label*/
.label_textarea {
    display: block;
    font-size: 1em;
    padding-bottom: 5px;
    color: #444;
}

#request {
    /* text area*/
    width: 100%;
    height: 200px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
}

/*clear button*/
input[type="reset"] {
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    left: 77%;
    background-color: #eee;
}

input[type="submit"] {
    border-radius: 10px;
    background-color: #eee;
    position: absolute;
    padding: 5px;
    font-size: 20px;
    margin: 0 auto;
    left: 50%;
}

p label.subscribe {
    display: inline-block;
    font-size: 20px;
}

p .subscribe {
    display: inline-block;
}

/*data list*/
#language {
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}

</style >
