<style > 

div.showrecords {
    width: 100%;
    max-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #6d7e8e;
    padding: 10px;

}

a.a_showrecords {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #faa;
}

li.li_showrecords {
    padding: 5px;
}

h1.h1_showrecords {
    font-size: 36px;
}

p.p_showrecords {
    font-size: 24px;
}

ul.block li {
    display: block;
}

</style >
