/*++++++++++++These are all styles for header+++++++++++*/
header{
  width: 100%;
  margin: 0 auto;
  height: 160px;
  background-color: #0375b4;
  position: relative; 
  max-width: 100%;
  height: auto;
}

nav{
  position: absolute;
  left: 15%;
  bottom: 5px;
  margin: 0 auto;
 
}

 a#menu-toggle {
   display: none;
}
/*++++++++++logo styles++++++++*/
#logo_150{
  width: 150px;
  height: 150px;  
  margin-left: 10px;
  padding: 10px;
}

/*logo for mobile menu*/
#logo_100{
  display:none;
}
      
ul{
  list-style-type: none;
  margin: 0;
  padding: 5px;
}
      
li {
  display: inline-block;
  margin-left: 70px;
  position: relative;
}

li a{
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  /*line-height: 40px;*/
  display: inline;
  /*padding: 0 10px;*/
  /*background-color: #000;*/
  font-weight: 700;
  font-size: 18px; 
}

nav ul li a:link,
nav ul li a:visited{
  
}

nav ul#navlist li a:hover,
nav ul#navlist li a:active {
  color: #000; 
}
/*+++++++++overline transition++++++++++*/
nav a::after{
  content: '';
  display: block;
  height: 2px;
  background-color: #862d00;
  position: absolute;  
  top: 0;
  width: 0%;
  bottom:0;
  transition: all ease-in-out 250ms;
}

nav a:hover::after{
  width: 100%;
}

div#location{
  position: absolute;
  top: 0px;
  right: 20px;
  line-height: 30px;
}

div.address a{
  text-decoration: none;
  color: #eee;
  text-shadow: 2px 2px 2px #444; 
}

div#location p.services{
  color: #eee;
  text-shadow: 2px 2px 2px #444;
}
div.tel a{
  text-decoration: none;
  background-color: #862d00;
  color: #ddd;
  padding: 10px;
  box-shadow: 6px 6px 4px 
  rgba(150, 150, 150,.5);
}

div.tel a:hover{
  color: #000;
  background-color: #ccc;
}

#social_media{
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
}
.active{
    color: #000;
}


/*+++++++wrapper start here++++++++*/

    
/*++++++++General body styling+++++++++*/

body{
 font-family: Cabin, Tahoma, sans-serif;
 font-size: 16px;
 background-color:  #ddd;
 margin: 0;
 padding: 0;
}

footer{
 clear: both;
 line-height: 50px;
 background-color: #6d7e8e;
 text-align: center;
}

#clear_box{/*clearing floats*/
 clear: both;
}


/*wrapper styling starts here*/
#wrapper{ 
 box-sizing: border-box;
 background-color: #ddd;
 width: 100%
 max-width: 960px;
 margin: 0 auto;

}

#box1_mainpic{
 width:100%;
 height: auto;
 

}

#box1 img{
 max-width: 100%;
 height: auto;
}

#main_box2{
 width: 100%;
 float: left;
}

#box2_a,
#box2_b,
#box2_c{
 box-sizing: border-box;
 font-size: 18px;
 padding: 10px;
 padding-top: 0;
 box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
 width: 30%;
 height: auto;
 min-height: 350px;
 float: left;
 margin: 20px 1%;
 text-transform: capitalize;
 overflow: hidden;
}

#box2_a{
 margin-left: 3%;
}

#box2_b{

}

#box2_c{
 margin-right: 3%;
}

#main_box3{
 width: 100%;
 float: left;
}

#box3_a,
#box3_b,
#box3_c{
 box-sizing: border-box; 
 width: 30%;
 height: auto;
 float: left;
 margin: 20px 1%;
}

#box3_a{
 margin-left: 3%;
}


#box3_b{

}

#add {
 color: #444;
}

/*Animation of announcements*/
/*
#add:after {
 content:" ";
 animation: add 50s linear infinite;
}
@keyframes add {
 0% { content:"Choir Members will have a practice on April 17, 530pm at FEC church"; }

 50% { content: "Children 8 to 12 years are invited to join bible studies every Sunday"; }

 90% { content: "Spring clean up will on Sunday April 21, 2019, at 3pm"; }
}
*/


#box3_c{
 margin-right: 3%;
}

#box3_a img,
#box3_b img,
#box3_c img{
 width: 100%;
 height: auto;
 box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
}

#main_box4{
 width: 100%;
 float: left;
 position: relative;
}

#main_box4 img{
 max-width: 100%;
 height: auto;
 margin: 0 auto;
 display: block;
}

#main_box4 #box4a{
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 text-align: center;
 background-color: rgba(0,0,0,.75);
 padding-top: 7%;
}

#main_box4 #box4a h1{
 color: #fff;
}

#main_box4 #box4a h2{
 color: #eee;
}

#main_box4 #box4a a{
 display: inline-block;
 text-decoration: none;
 padding: 20px;
 margin: 10px;
 background-color: #862d00;
 color: #ddd;
 box-shadow: 6px 6px 4px rgba(150, 150, 150,.2);
 font-size: 20px;
}

#main_box4 #box4a a:hover{
 background-color: #ccc;
 color: #000;
}  


/* about styling*/
#about_wrapper{ 
 background-color: #ddd;
 width: 100%;
 max-width: 960px;
 margin: 0 auto;
}

#clinton{
 padding: 5px;
 box-shadow: 6px 6px 4px rgba(150, 150, 150,.2);
 max-width: 200px;
 max-height: 150px;
 margin: 0 auto;
 float: left;
}

#roslyn{
 padding: 5px;
 box-shadow: 6px 6px 4px rgba(150, 150, 150,.2);
 max-width: 200px;
 max-height: 150px;
 float: right;
}

table{
border: 2px solid #666;
padding: 10px;
border-spacing: 0;
border-collapse: collapse;
width: 960px;
margin-bottom: 10%;
}
/*This styling is for the table's caption*/
caption{
background-color: #999;
color: #000;
border-bottom: 20px;
}

/*This styling is for the table header row 2 and table data*/
th,td{
border: 2px solid #999;
padding: 10px;

}
/*This styling is for table header column 1*/
th{
background-color: #000;
color: #eee;
font-weight: 700;
}


/********activities *************/

#box2_a{
 margin-left: 3%;
}

#box2_b{

}

#box2_c{
 margin-right: 3%;
}

#indexmain_box3{
 width: 100%;
 float: left;
}

#row_2main_box3{
 width: 100%;
 float: left;
}

#row_3main_box3{
 width: 100%;
 float: left;
}

#indexbox3_a,
#indexbox3_b,
#indexbox3_c{
box-sizing: border-box; 
width: 30%;
height: auto;
float: left;
margin: 20px 1%;
}

#row_2box3_a,
#row_2box3_b,
#row_2box3_c{
box-sizing: border-box; 
width: 30%;
height: auto;
float: left;
margin: 20px 1%;
}

#row_3box3_a,
#row_3box3_b,
#row_3box3_c{
box-sizing: border-box; 
width: 30%;
height: auto;
float: left;
margin: 20px 1%;
}

#indexbox3_a{
margin-left: 3%;
}


#indexbox3_b{

}

#indexbox3_c{
margin-right: 3%;
}

#row_2box3_a{
margin-left: 3%;
}


#row_2box3_b{

}

#row_2box3_c{
margin-right: 3%;
}

#row_3box3_a{
margin-left: 3%;
}


#row_3box3_b{

}

#row_3box3_c{
margin-right: 3%;
}

#indexbox3_a img,
#indexbox3_b img,
#indexbox3_c img{
 width: 100%;
 height: auto;
 box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
}

#row_2box3_a img,
#row_2box3_b img,
#row_2box3_c img{
 width: 100%;
 height: auto;
 box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
}

#row_3box3_a img,
#row_3box3_b img,
#row_3box3_c img{
 width: 100%;
 height: auto;
 box-shadow: 6px 6px 4px rgba(150, 150, 150,.5);
}


/**************** ministry section *********************/

#wrapper_ministry{ 
  background-color: #ddd;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/*******************prayer section *******************/

#prayer_main_box4 {
  width: 100%;
  position: relative;
}

#prayer_main_box4 img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#prayer_main_box4 #box4a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, .50);
  padding-top: 1%;
}

/*need help text styling*/
#prayer_main_box4 #box4a h1 {
  color: #fff;
  font-size: 30px;
  margin-top: 2px;
}

#prayer_main_box4 #box4a h2 {
  color: #eee;
}

/*the magic button-- ask prayer button*/
#prayer_main_box4 #box4a a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  margin: 10px;
  background-color: #862d00;
  color: #ddd;
  box-shadow: 6px 6px 4px rgba(150, 150, 150, .2);
  font-size: 20px;
}

/*hover-- the ask prayer button*/
#prayer_main_box4 #box4a a:hover {
  background-color: #ccc;
  color: #000;
}

/*styling for the situations that people ask help*/
div#prayer_box4a {
  text-align: inherit;
  padding-top: 2%;
  font-size: 30px;
  color: #444;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
}

/*styling for the div who is the parent of the form*/
div#prayer_pageform {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: auto;
}

#prayer_form {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  height: auto;
}




/***********form styling starts here************/
label.labelwidth {
  /*label styling*/
  display: inline-block;
  width: 120px;
}

#fieldset1 {
  /*first fieldset*/
  border-radius: 25px;
  padding-left: 20px;
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 200%;
  height: auto;

}


fieldset input.textfield {
  /*text field in fielset one*/
  border-radius: 5px;
  line-height: 26px;
  /* background-color: #fcc; */
  color: #000;
  width: 220px;
  font-size: 1em;
  display: block;
}


.label_info {
  display: block;
  width: 196px;
  color: #444;
  font-size: 1em;
}

/*styling for text area label*/
.label_textarea {
  display: block;
  font-size: 1em;
  padding-bottom: 5px;
  color: #444;
}

#request {
  /* text area*/
  width: 100%;
  height: 200px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
}

/*clear button*/
input[type="reset"] {
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px;
  font-size: 20px;
  position: absolute;
  left: 77%;
  background-color: #eee;
}

input[type="submit"] {
  border-radius: 10px;
  background-color: #eee;
  position: absolute;
  padding: 5px;
  font-size: 20px;
  margin: 0 auto;
  left: 50%;
}

p label.subscribe {
  display: inline-block;
  font-size: 20px;
}

p .subscribe {
  display: inline-block;
}

/*data list*/
#language {
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
}


/****************** address section ***************/

#wrapper_address{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#map_location {
  margin-bottom: 10%;
}

#box1{
  width: 960px;
  height: 400px;
}


/*****************styling for displaying products**********/
/************in ecommerce***************/


#ecommerce_wrapper{
    width: 100%;
      max-width: 960px;
      margin: 0 auto;
  }

  p.ecommerce_images a{
    padding-bottom: 0px;
  }

  p.ecommerce_variety, p.ecommerce_price{
    padding: 0;
    margin: 0;
  }

  p.ecommerce_variety a{
    color: #ce1126;
    text-decoration: none;
  }

  /*css for yellow button with shadow*/
  p.ecommerce_buy_now{
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    background-color: #fcd116;
    box-shadow: 5px 5px 5px grey;
  }

  p.ecommerce_buy_now a{
    text-decoration: none;
    color: #0038a8;
    width: 100%;
    display: inline-block;
  }
  

  
/* styling for the positioning of products in the div*/
  .ecommerce_apparel_images{
    float: left;
    margin: 2% 1.5%;
    width: 30%;
  }

  .ecommerce_buy_now{
    text-align: center;
  }


/************styling for ecommerce details************/


/*  #add {
  color: #444;
}

.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

}*/

div#ecommerce_details_image{
  text-align: center;
  margin: 0 auto;
  width: 500px;
 

}
div#ecommerce_details_image a{
  text-decoration: none;
}

div#ecommerce_details_info{
  width: 500px;
  margin: 0 auto;
  text-align: center;
 
}

div#ecommerce_details_description{
  text-align: center;
  margin: 0 auto;
  width: 500px;
  
}

/*button{
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #fcd116;
  box-shadow: 5px 5px 5px grey;
  min-width: 200px;
}*/
.yellowbox_with_shadow{
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #fcd116;
  box-shadow: 5px 5px 5px grey;
  min-width: 100px;
}
a.checkout{
  text-decoration: none;
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #fcd116;
  box-shadow: 5px 5px 5px grey;
  min-width: 100px;
}

.classqty{
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #fcd116;
  box-shadow: 5px 5px 5px grey;
  min-width: 100px;
}

p.back{
  border: transparent;
  border-radius: 5px;
  padding: 5px;
  background-color: #fcd116;
  box-shadow: 5px 5px 5px grey;
  min-width: 100px;
  width: 200px;
  margin: 0 auto;
  color: #000;
}



