header#navlist{
  left: 10%;
}

a:hover,header a #logo:active{
    outline: none;
}
body div:focus{
    outline: none;
}
header a #logo{
    outline:none;
}
header a #logo:focus{
    outline:none;
}
header a #logo::-moz-focus-inner{
    border: 0;
}
