nav
#footer{
  display: none;
}
body{
font-size: 16px;
font-family: Tahoma, sans-serif;

}
#wrapper{
   width: 100%
}
header{
  position: relative;
  height: 150px;
  width: 100%;
}
header #logo_150{
 position: absolute;
 top: 8px;
 left: 8px;
}

header #adress{
  font-size: 1.2em;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
