.navClass ul.mainUl {
	background-color: #5e5d5d;
	color: #080808;

	font-size: 20px;
	font-family: sans-serif;
}

.navClass ul.mainUl li.mainLi{
	list-style-type: none;
	display: inline-block;

	padding: 5px 25px;

	position: relative;

}

.navClass ul.mainUl li.mainLi:hover {
	background-color: #383838;
}

ul.sub-menu{
	position: absolute;
	width: 200px;
	background-color: #383838;
	list-style-type: none;
	padding-left: 0;
	padding-top: 5px;
	margin-left: -25px;
	opacity: 0;
}

ul.sub-menu li{
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.navClass li.mainLi:hover .sub-menu{
	opacity: 1;
}

ul.sub-menu li:hover{
	color: white;
	background-color: #656565;
}

