/*body styling*/
/*
<?php
$main: #0038a8;
$secondary: #cccccc;
$highlight: #4ad7b1;
$white: #ffffff;
?><!DOCTYPE html>
*/

<style>

  * {
    box-sizing: border-box;
  }

  html, body{
    margin: 0;
    padding: 0;
    font-family: Cabin, roboto, sans-serif;
    background-color: #ccffcc;
  }

  .banner{
    height: 150px;
    width: 100%;
    background-color: #0038a8;
    position: relative;
  }

  .logo {
    position: absolute;
    width: 15%;
  }

  .contact h1{
    position: absolute;
    left: 12%;
    animation: blinkingText 5s infinite;
  }
  @keyframes blinkingText{
    0%  {  color: #dddddd; }
    25% { color: transparent;}
    50% { color: transparent;}
    75% { color: transparent;}
    100% { color: #dddddd;}
  }

  .sign_in{
    position: absolute;
    right: 10%;
    bottom: 0;
    padding: 0;
  }

  .sign_in ul{
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .sign_in ul li{
    display: inline-block;
    padding-right: 0px;
    margin-right: 0px;
  }

  .sign_in ul li{

  }

  .sign_in ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 700;
    margin-right: 1.5em;
    font-size: 1.25em;
  }

  /*displays the navigation in one line*/
  .sign_in ul li a{

  }

  /* on hover the navigation changes color*/
  .sign_in ul li a:hover,
  .sign_in ul li a:active{
    color: #000000;
  }

  .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  .wrapper ul li{
    display: inline-block;
  }

  /*navigation and search label styles*/
  .nav a, .search_label{
    text-transform: uppercase;
    font-size: 1.25em;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    margin-right: 2em;
    position: relative;
  }

  /* on hover the navigation changes color*/
  .nav a:hover,
  .nav a:active{
    color: #0038a8;
  }

  /*puts an animated overline over selected text*/
  .nav a::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #0038a8;
    position: absolute;
    top: 0;
    width: 0;
    bottom:0;
    transition: all ease-in-out 250ms;
  }

  /*animated overline goes to 100% */
  .nav a:hover::after{
    width: 100%;
  }

  .search_label{
    margin-right: 0;
    border-right: 1px solid #4ad7b1;
    padding-right: 1em;
  }

  input[type="search"]{
    background: transparent;
    outline: none;
    border: none;
    color: #111111;
    font-style: italic;
    font-size: 1.25em;
    font-weight: 400;
    padding: 2em 1em;
  }

  .container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  .products_container{
    width: 1140px;
    max-width: 90%;
    margin: 0 auto;
  }



  /*displays the product list on one line*/

  .resources{
    /*padding: 0;*/
    /*margin: 0;*/
    list-style: none;
  }

  .resources li{
    /*width: 15%;*/
    padding-right: 4em;
    padding-bottom: 6em;
    padding-left: 0;
    float: left;
    display: inline-block;
  }

  .resources li img{
    width: 100%;
    max-width: 100%;
  }

  .resources li p{
    width: 100%;
    text-align: center;
  }

  .classification{
    color: #862d00;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 2.5em;
  }

  p.images{

  }

  p.images a{
    padding-bottom: 0px;
  }

  p.variety, p.price{
    padding: 0;
    margin: 0;
  }

  p.variety a{
    color: #ce1126;
    text-decoration: none;
  }

  p.buy_now{
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    background-color: #fcd116;
    box-shadow: 5px 5px 5px grey;
  }

  p.buy_now a{
    text-decoration: none;
    color: #0038a8;
  }

  footer{
    clear: both;
    background-color: #0038a8;
    text-align: center;
    bottom: 10%;
  }

  #social_media{
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    }
  #fb li{
    display: inline-block;
    margin-left: 20px;
    position: relative;
  }

  #fb li a{
    text-transform: uppercase;
  }

  .container{

    
  }

  .banner_image p img{
    

  }

/*

 a {
  text-decoration: none;
}

.nav {
    font-family: monospace;
    margin: 0 auto;
}


.dropdown {
    background: darkorange;
    list-style: none;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 205px;
}


.dropnavi {
  color: #333333;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}


.dropnavi a {
  color: #333333;
}


.dropnavi:hover,
.dropnavi:focus-within {
    background: red;
    cursor: pointer;
}

.dropnavi:focus-within a {
  outline: none;
}

ul .dropnavi ul {
    background: orange;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul .dropnavi:hover > ul,
ul .dropnavi:focus-within > ul,
ul .dropnavi ul:hover,
ul .dropnavi ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul .dropnavi ul .droplist {
  clear: both;
  width: 100%;
}

#searchbox{
  margin: 0;
  padding: 0;
}

*/

.navClass ul.mainUl {
  background-color: #5e5d5d;
  color: #080808;

  font-size: 20px;
  font-family: sans-serif;

  margin-top: 0;
  padding-left: 10%;
}

.navClass ul.mainUl li.mainLi{
  list-style-type: none;
  display: inline-block;

  padding: 5px 25px;

  position: relative;

  transition-duration: 0.5s;
  cursor: pointer;

}

.navClass ul.mainUl li.mainLi:hover{
  background-color: #383838;
}

ul.sub-menu{
  position: absolute;
  width: 200px;
  background-color: #383838;
  list-style-type: none;
  padding-left: 0;
  padding-top: 5px;
  margin-left: -25px;
  opacity: 0;
}

ul.sub-menu li{
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

ul.sub-menu li a{
 text-decoration: none;
 color: white;
}

.navClass li.mainLi:hover .sub-menu{
  opacity: 1;
}

ul.sub-menu li:hover{
  color: white;
  background-color: #656565;
}


</style>
